{% extends 'layouts/master.html' %}
{% load staticfiles %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
    {% include 'layouts/navbar_.html' %}
    <div class="st-pusher" style="margin-left: 5%">
                <!-- extra div for emulating position:fixed of the menu -->
                <div class="st-content-inner padding-none">
                    <div class="container-fluid">
                        <div class="media media-grid media-clearfix-xs">
                            <div class="media-body">
                                <div class="page-section">
                                    <h4 class="text-right text-info"> <a class="btn btn-default btn-lg paper-shadow relative" data-z="1" data-hover-z="2" data-animated href="{% url 'course_available' %}"> Back to Library</a> </h4>
                                    <div class="media">
                                        <div class="media-left">
                                            <span><img src="{{ object.image.url }}" height="70" width="70" class="img-rounded"></span>
                                        </div>
                                        <div class="media-body">
                                            <h1 class="text-display-1 margin-none">{{ object.title }}</h1>
                                            <p class="small margin-none">
                                                <span class="fa fa-fw fa-star text-yellow-800"></span>
                                                <span class="fa fa-fw fa-star text-yellow-800"></span>
                                                <span class="fa fa-fw fa-star text-yellow-800"></span>
                                                <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                                                <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="page-section">
                                    <div class="width-350 width-300-md width-100pc-xs paragraph-inline">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="//www.youtube-nocookie.com/embed/Ycv5fNd4AeM?rel=0"></iframe>
                                        </div>
                                    </div>
                                    <p>
                                        {{ object.blob }}
                                    </p>
                                    <br/>
                                     <p>
                                        {{ object.description }}
                                    </p>
                                    <br/>
                                </div>
                                <div class="page-section">
                                    <h2 class="text-headline margin-none">What you'll learn</h2>
                                    <p class="text-subhead text-light">A minus obcaecati optio pariatur porro.</p>
                                    <ul class="list-group relative paper-shadow margin-none" data-hover-z="0.5" data-animated>
                                        <li class="list-group-item">
                                            <div class="media v-middle">
                                                <div class="media-left">
                                                    <div class="icon-block s30 bg-red-300 text-white img-circle">
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="media-body text-body-2">
                                                    Basics of {{ object.title }}.
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item paper-shadow">
                                            <div class="media v-middle">
                                                <div class="media-left">
                                                    <div class="icon-block s30 bg-green-300 text-white img-circle">
                                                        <i class="fa fa-database"></i>
                                                    </div>
                                                </div>
                                                <div class="media-body text-body-2">
                                                    Database connections & some other nice features.
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item paper-shadow">
                                            <div class="media v-middle">
                                                <div class="media-left">
                                                    <div class="icon-block s30 bg-indigo-300 text-white img-circle">
                                                        <i class="fa fa-trophy"></i>
                                                    </div>
                                                </div>
                                                <div class="media-body text-body-2">
                                                    Eaque ex exercitationem quia reprehenderit?
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item paper-shadow">
                                            <div class="media v-middle">
                                                <div class="media-left">
                                                    <div class="icon-block s30 bg-orange-300 text-white img-circle">
                                                        <i class="fa fa-code-fork"></i>
                                                    </div>
                                                </div>
                                                <div class="media-body text-body-2">
                                                    Ab distinctio nemo, provident quia quibusdam ullam.
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item paper-shadow">
                                            <div class="media v-middle">
                                                <div class="media-left">
                                                    <div class="icon-block s30 bg-grey-500 text-white img-circle">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                </div>
                                                <div class="media-body text-body-2">
                                                    Conclusion & Notes.
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="media-right">
                                <div class="page-section width-270 width-auto-xs">
                                    <!-- .panel -->
                                    <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
                                        <div class="panel-heading">
                                            <h4 class="text-headline">Course</h4>
                                        </div>
                                        <div class="panel-body">
                                            <h4 class="text-caption margin-none">

                                                </h4>
                                                <br/>
                                            </h4>
                                        </div>
                                        <hr class="margin-none" />
                                        <div class="panel-body text-center">
                                            <p>
                                                <a class="btn btn-success btn-lg paper-shadow relative" data-z="1" data-hover-z="2" data-animated
                                                   href="{% url 'course_enrol' object.pk object.slug %}">
                                                    Start Course
                                                </a>
                                            </p>
{#                                            <p class="text-body-2">or <a href="#">Enrol for #2000.00</a></p>#}
                                        </div>
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <a href="#" class="text-light"><i class="fa fa-facebook fa-fw"></i> Share on facebook</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="#" class="text-light"><i class="fa fa-twitter fa-fw"></i> Tweet this course</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- // END .panel -->
                                    <!-- .panel -->
                                    <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
                                        <div class="panel-body">
                                            <h4 class="text-headline">Other Courses</h4>
                                        </div>
                                        <ul class="list-group">
                                            {% for course in course %}
                                            <li class="list-group-item">
                                                <div class="media v-middle">
                                                    <div class="media-left">
                                                        <div class="">
                                                          <span>  <img src="{{ course.image.url }}" height="30" width="40"></span>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <a href="{% url 'course_detail' course.pk course.slug %}" class="link-text-color"><span>
                                                            {{ course.title }}</span></a>
                                                    </div>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <!-- // END .panel -->
                                </div>
                                <!-- // END .page-section -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /st-content-inner -->
            </div>

{% endblock %}
