{% extends 'layouts/master.html' %}
{% load staticfiles %}
{% block title %} Course List{% endblock %}
{% block content %}
    {% include 'layouts/navbar.html' %}
    <div class="st-pusher" id="content">
        <!-- sidebar effects INSIDE of st-pusher: -->
        <!-- st-effect-3, st-effect-6, st-effect-7, st-effect-8, st-effect-14 -->
        <!-- this is the wrapper for the content -->
            <div class="st-content">
                <!-- extra div for emulating position:fixed of the menu -->
                <div class="st-content-inner padding-none">
                    <div class="container-fluid">
                        <div class="page-section">
                            <div class="media v-middle">
                                <div class="media-body">
                                    <h1 class="text-display-1 margin-none">Library</h1>
                                    <p class="text-subhead">Browse through our Course.</p>
                                </div>
                            </div>
                        </div>

                        <div class="row" data-toggle="isotope">
                            {% for list in course %}
                            <div class="item col-xs-12 col-sm-6 col-lg-4">
                                <div class="panel panel-default paper-shadow" data-z="0.5">

                                    <div class="panel-body">
                                        <p><a href="#"><img src="{{ list.image.url }}" height=auto width=auto class="img-rounded img-responsive"></a></p>
                                        <h4 class="text-headline margin-v-0-10"><a
                                                href="#">{{ list.title }}</a>
                                        </h4>
                                        <p class="small margin-none">
                                            <span class="fa fa-fw fa-star text-yellow-800"></span>
                                            <span class="fa fa-fw fa-star text-yellow-800"></span>
                                            <span class="fa fa-fw fa-star text-yellow-800"></span>
                                            <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                                            <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                                        </p>
                                    </div>
                                    <hr class="margin-none"/>
                                    <div class="panel-body">
                                        <p>{{ list.blob }}</p>
                                        <div class="media v-middle">
                                            <div class="media-left">
                                                <img src="{{ tutor.photo.url }}" alt="People" class="img-circle width-40" />
                                            </div>
                                            <div class="media-body">
                                                <h4><a href="">
                                                    {{ tutor.tutor_user.first_name}} {{ tutor.tutor_user.last_name }}</a>
                                                    <br/>
                                                </h4>
                                                Tutor
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>

    </div>
{% endblock %}