{% extends 'layouts/master.html' %}
{% load staticfiles %}
{% block title %}
Student Courses
{% endblock %}
{% block content %}
{% include 'layouts/student_navbar.html' %}
      <div class="st-content" style="margin-left: 20%">
        <div class="st-content-inner padding-none">
                <!-- extra div for emulating position:fixed of the menu -->
                <div class="st-content-inner padding-none">
                    <div class="container-fluid">
                        <div class="page-section">
                            <h1 class="text-display-1">My Courses</h1>
                        </div>
                    {% if course %}
                        <div class="row" data-toggle="isotope">
                            {% for list in course %}
                            <div class="item col-xs-12 col-sm-6 col-lg-4">
                                <div class="panel panel-default paper-shadow" data-z="0.5">
                                    <div class="cover overlay cover-image-full hover">
                                        <span class="img icon-block height-150 bg-default"></span>
                                        <a href="#"
                                           class="padding-none overlay overlay-full icon-block bg-default">
                                            <span class="v-center">

                    <img src="{{ list.image.url }}"
                         height="70" width="300" class="img-rounded img-responsive" style="margin: 5%;">

            </span>
                                        </a>
                                        <a href="#" class="overlay overlay-full overlay-hover overlay-bg-white">
                                            <span class="v-center">
                <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="panel-body">
                                        <h4 class="text-headline margin-v-0-10"><a href="#">
                                            {{ list.title }}</a></h4>
                                        <p class="text-info">{{ list.blob }}</p><br>
                                    </div>
                                    <hr class="margin-none" />
                                    <div class="panel-body">
                                        <a class="btn btn-primary btn-flat paper-shadow relative" data-z="0" data-hover-z="1" data-animated
                                           href="{% url 'student_take_course' list.pk list.slug|slugify %}"><i class="fa fa-fw fa-arrow-left text-center"></i> Start Course</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <h4 class="page-body">
                                You have not selected any course, Please select to start!<hr/>
                            <a href="{% url 'register_course' %}" class="btn btn-primary">Select</a>
                            </h4>
                                {% endif %}
                        </div>

                        </div>
                        <ul class="pagination margin-top-none">
                            <li class="disabled"><a href="#">&laquo;</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
      </div>

{% endblock %}