{% extends 'layouts/master.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block title %}
Add Course
{% endblock %}
{% block content %}
{% include 'layouts/student_navbar.html' %}
     <div class="st-content-inner padding-none" style="margin-left: 20%">
{% if request.user.is_active %}
    <div class="col-md-8 col-md-offset-1">
<h3 class="text-left">Add Your Course</h3>
  <table class="table table-striped">
      <form action="" method="post">
          {% csrf_token %}
{#         {% include 'includes/form.html' %}#}
          {{ form|crispy }}

          <tr>
              <td><button>Save</button></td>
          </tr>

      </form>
  </table>
{% else %}
    </div>
<h4 class="text-info">You cannot access this tutor's edit profile</h4>
{% endif %}
{% endblock %}