{% extends 'layouts/master.html' %}
{% load staticfiles %}
{% block title %}
Edit Profile
{% endblock %}
{% block content %}
{% include 'layouts/student_navbar.html' %}
     <div class="st-content-inner padding-none" style="margin-left: 20%">
{% if request.user.is_active %}
<h3 class="text-left">Add Your Course</h3>
  <table class="table table-striped">
      <form action="" method="post">
          {% csrf_token %}
          <li class="list-group-item">{{ form.as_table }}</li>
          <tr>
              <td><button>Save</button></td>
          </tr>

      </form>
  </table>
{% else %}
<h4 class="text-info">You cannot access this tutor's edit profile</h4>
{% endif %}
{% endblock %}