{% extends 'layouts/master.html' %}
{% load staticfiles %}
{% block title %}
Login
{% endblock %}
{% block content %}
    <body class="login" style="background: lightgrey">
    <div id="content">
        <div class="jumbotron-fluid" style="width: 40%; margin-left: 60%"><hr/>
            <h2 class="text-center">Login</h2><hr/>
        <form method="post" class="form-group" role="form">
             {% csrf_token %}
            {% include 'includes/form.html' %}
            <div class="text-center">
                <button class="btn btn-primary">Login</button>
                <button class="btn btn-default">
                    <a href="{% url 'signup' %}">Register</a></button>
            </div>
        </form>
        </div>
    </div>
    </body>
{% endblock %}