{% extends 'layouts/master.html' %}
{% load staticfiles %}
{% block title %}
Register
{% endblock %}
{% block content %}
 <body class="login">
    <div id="content" style="margin-left: 20%; top: 0%;">
        <div class="container-fluid">
            <div class="lock-container" style="top: 0%;">
                <div class="panel panel-default text-center paper-shadow" data-z="0.5" style="top: 0%;">
                    <h1 class="text-display-1">Create account</h1>
                    <div class="panel-body">
                      <form method="post">
                        {% csrf_token %}
                          {% include 'includes/form.html' %}
                        <button type="submit" class="btn btn-primary">Register</button>
                           <br><br> <br><br>
                      </form>
            </div>
        </div>
            </div>
        </div>
    </div>
   </body>
{% endblock %}