{% extends 'layouts/master.html' %}
{% load staticfiles %}
{% block title %}
Register
{% endblock %}
  <style type="text/css">
    body{
            background-image: url('{{ STATIC_URL }}images/Desert.jpg');
            background-repeat:no-repeat;
            background-size:100%;
    }
    </style>
{% block content %}
 <body class="login">
    <div id="content" style="margin-left: 20%">
        <div class="container-fluid">
            <div class="lock-container">
               <table class="table table-striped">
                   <h2>Sign up</h2>
                      <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                          <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% for error in field.errors %}
                              <p style="color: red">{{ error }}</p>
                            {% endfor %}
                          </p>
                        {% endfor %}
                        <button type="submit">Sign up</button>
                      </form>
               </table>
            </div>
        </div>
   </body>
{% endblock %}