{% load staticfiles %}
<div class="st-container">
        <!-- Fixed navbar -->
        <div class="navbar navbar-size-large navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#sidebar-menu" data-toggle="sidebar-menu" class="toggle pull-left visible-xs"><i class="fa fa-ellipsis-v"></i></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h4><img src="{% static 'images/ecollege.png' %}" height="50" width="220"></h4>

                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Forum <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="app-forum.html">Forum Home</a></li>
                                <li><a href="app-forum-category.html">Forum Category</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tutor <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'dashboard_list' tutor.pk %}">Dashboard</a></li>
                                <li><a href="{% url 'tutor_course' tutor.pk %}">My Courses</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-nav-bordered navbar-right">
                        <!-- notifications -->
                        <li class="dropdown notifications updates">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="badge badge-primary">4</span>
                            </a>
                            <ul class="dropdown-menu" role="notification">
                                <li class="dropdown-header">Notifications</li>
                                <li class="media">
                                    <div class="pull-right">
                                        <span class="label label-success">New</span>
                                    </div>
                                    <div class="media-left">
                                        <img src="images/people/50/guy-2.jpg" alt="people" class="img-circle" width="30">
                                    </div>
                                    <div class="media-body">
                                        <a href="#">Adrian D.</a> posted <a href="#">a photo</a> on his timeline.
                                        <br/>
                                        <span class="text-caption text-muted">5 mins ago</span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="pull-right">
                                        <span class="label label-success">New</span>
                                    </div>
                                    <div class="media-left">
                                        <img src="images/people/50/guy-6.jpg" alt="people" class="img-circle" width="30">
                                    </div>
                                    <div class="media-body">
                                        <a href="#">{% firstof user.get_short_name user.get_username %}</a> posted <a href="#">a comment</a> on Adrian's recent <a href="#">post</a>.
                                        <br/>
                                        <span class="text-caption text-muted">3 hrs ago</span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left">
                                        <span class="icon-block s30 bg-grey-200"><i class="fa fa-plus"></i></span>
                                    </div>
                                    <div class="media-body">
                                        <a href="#">Mary D.</a> and <a href="#">Michelle</a> are now friends.
                                        <p>
                                            <span class="text-caption text-muted">1 day ago</span>
                                        </p>
                                        <a href="">
                                            <img class="width-30 img-circle" src="images/people/50/woman-6.jpg" alt="people">
                                        </a>
                                        <a href="">
                                            <img class="width-30 img-circle" src="images/people/50/woman-3.jpg" alt="people">
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- // END notifications -->
                        <!-- User -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle user" data-toggle="dropdown">
                                <img src="/static/images/Sebig.png" alt="" class="img-circle" width="40" />
                                {% firstof user.get_short_name user.get_username %}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="app-student-profile.html">Account</a></li>
                                <li><a href="app-student-billing.html">Billing</a></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </div>
        <!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->
        <div class="sidebar left sidebar-size-1 sidebar-mini-reveal sidebar-offset-0 sidebar-visible-desktop sidebar-visible-mobile sidebar-skin-dark" id="sidebar-menu" data-type="collapse">
            <div data-scrollable>
                <ul class="sidebar-menu sm-icons-right">
                    <li><a href="app-student-dashboard.html"><i class="fa fa-bar-chart-o"></i><span>Dashboard</span></a></li>
                    <li class="hasSubmenu">
                        <a href="#forum-menu"><i class="fa fa-file-text-o"></i><span>Forum</span></a>
                        <ul id="forum-menu">
                            <li><a href="app-forum.html"><span>Forum Home</span></a></li>
                            <li><a href="app-forum-category.html"><span>Forum Category</span></a></li>
                            <li><a href="app-forum-thread.html"><span>Forum Thread</span></a></li>
                        </ul>
                    </li>
                    <li class="hasSubmenu">
                        <a href="#account-menu"><i class="fa fa-user"></i><span>Account</span></a>
                        <ul id="account-menu">
                            <li><a href="app-student-profile.html"><span>Edit Profile</span></a></li>
                            <li><a href="app-student-billing.html"><span>Edit Billing</span></a></li>
                        </ul>
                    </li>
                    <li><a href="app-student-messages.html"><i class="fa fa-comments"></i><span>Messages</span></a></li>
                    <li><a href="login.html"><i class="fa fa-sign-out"></i><span>Logout</span></a></li>
                </ul>
            </div>
        </div>
        <div class="sidebar right sidebar-size-3 sidebar-offset-0 sidebar-visible-desktop sidebar-skin-white" id="sidebar-library">
            <div data-scrollable>
                <h4 class="category">Course Categories</h4>
                <ul class="sidebar-block list-group list-group-menu list-group-minimal">
                    {% for cat in course_cat %}
                    <li class="list-group-item"><a href="{% url 'course_listing' %}"><span class="badge pull-right">
                        {{ course.count }}+</span>
                        {{ cat.course_type }}
                    </a></li>
                    {% endfor %}
                </ul>
                <h4 class="category">View</h4>
                <div class="sidebar-block">
                    <div class="form-group">
                        <select class="selectpicker">
                            <option>List</option>
                            <option>Grid</option>
                        </select>
                    </div>
                </div>
                <h4 class="category">Price</h4>
                <div class="sidebar-block">
                    <div class="form-group input-group">
                        <div class="row margin-none">
                            <div class="col-xs-6 padding-none">
                                <input class="form-control" type="text" placeholder="Min .." />
                            </div>
                            <div class="col-xs-6 padding-none">
                                <input class="form-control" type="text" placeholder="Max .." />
                            </div>
                        </div>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


