{% if request.user.is_active and request.user.is_authenticated %}
<div class="st-container">
        <!-- Fixed navbar -->
        <div class="navbar navbar-size-large navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header" style="width: 20%">
                    <a href="#sidebar-menu" data-toggle="sidebar-menu" class="toggle pull-left visible-xs"><i class="fa fa-ellipsis-v"></i></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" >
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand navbar-brand-primary navbar-brand-logo navbar-nav-padding-left">
                         <h3><a href="/" class="text-left">eCollege</a> </h3>
                    </div>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Forum <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="app-forum.html">Forum Home</a></li>
                                <li><a href="app-forum-category.html">Forum Category</a></li>
                            </ul>
                        </li>
                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tutor<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'dashboard_list' tutor.pk %}">My Dashboard</a></li>
                                <li><a href="{% url 'tutor_course' tutor.pk %}">My Courses</a></li>
                                <li><a href="app-instructor-messages.html">Messages</a></li>

                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-nav-bordered navbar-right">
                        <!-- notifications -->
                        <li class="dropdown notifications updates">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="badge badge-primary">4</span>
                            </a>
                            <ul class="dropdown-menu" role="notification">
                                <li class="dropdown-header">Notifications</li>
                                <li class="media">
                                    <div class="pull-right">
                                        <span class="label label-success">New</span>
                                    </div>
                                    <div class="media-left">
                                        <img src="images/people/50/guy-2.jpg" alt="people" class="img-circle" width="30">
                                    </div>
                                    <div class="media-body">
                                        <a href="#">Adrian D.</a> posted <a href="#">a photo</a> on his timeline.
                                        <br/>
                                        <span class="text-caption text-muted">5 mins ago</span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="pull-right">
                                        <span class="label label-success">New</span>
                                    </div>
                                    <div class="media-left">
                                        <img src="images/people/50/guy-6.jpg" alt="people" class="img-circle" width="30">
                                    </div>
                                    <div class="media-body">
                                        <a href="#">Bill</a> posted <a href="#">a comment</a> on Adrian's recent <a href="#">post</a>.
                                        <br/>
                                        <span class="text-caption text-muted">3 hrs ago</span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left">
                                        <span class="icon-block s30 bg-grey-200"><i class="fa fa-plus"></i></span>
                                    </div>
                                    <div class="media-body">
                                        <a href="#">Mary D.</a> and <a href="#">Michelle</a> are now friends.
                                        <p>
                                            <span class="text-caption text-muted">1 day ago</span>
                                        </p>
                                        <a href="">
                                            <img class="width-30 img-circle" src="images/people/50/woman-6.jpg" alt="people">
                                        </a>
                                        <a href="">
                                            <img class="width-30 img-circle" src="images/people/50/woman-3.jpg" alt="people">
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- // END notifications -->
                        <!-- User -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle user" data-toggle="dropdown">
                                <img src="{{ tutor.photo.url }}" alt="Bill" class="img-circle" width="40" />
                                {{ tutor.tutor_user.first_name }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="app-student-profile.html">Account</a></li>
                                <li><a href="app-student-billing.html">Billing</a></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </div>
        <!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->
        <div class="sidebar left sidebar-size-3 sidebar-offset-0 sidebar-visible-desktop sidebar-visible-mobile sidebar-skin-dark" id="sidebar-menu" data-type="collapse">
            <div data-scrollable>
                <div class="sidebar-block">
                    <div class="profile">
                        <a href="#">
                            <img src="{{ tutor.photo.url }}" alt="people" class="img-circle width-80" />
                        </a>
                        <h4 class="text-display-1 margin-none">
                            {{ tutor.tutor_user.first_name }} {{ tutor.tutor_user.last_name }}
                        </h4>
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li class="active"><a href="{% url 'dashboard_list' tutor.pk %}"><i class="fa fa-home"></i><span>Dashboard</span></a></li>
                    <li><a href="{% url 'profile' tutor.tutor_user tutor.pk %}"><i class="fa fa-paper-plane"></i><span>Profile</span></a></li>
                    <li><a href="{% url 'tutor_course' tutor.pk %}"><i class="fa fa-mortar-board"></i><span>My Courses</span></a></li>
                    <li><a href="#"><i class="fa fa-bar-chart-o"></i><span>Earnings</span></a></li>
                    <li><a href="#"><i class="fa fa-dollar"></i><span>Statement</span></a></li>
                    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i><span>Logout</span></a></li>
                </ul>
            </div>
        </div>
    {% endif %}

        <!-- /st-pusher -->
        <!-- Footer -->

