{% extends 'layouts/master.html' %}
{% load staticfiles %}
{% block title %}
Tutor Courses
{% endblock %}
{% block content %}
    {% include 'layouts/tutor_navbar.html' %}

<div class="st-content-inner padding-none" style="margin-left: 20%">
<h3 class="text-left">Create Course</h3>
  <table class="table table-striped">
      <form action="" method="post">
          {% csrf_token %}
          <li class="list-group-item">{{ form.as_table }}</li>
          <tr>
              <td><button>Create</button></td>
          </tr>

      </form>
  </table>

</div>

{% endblock %}