{% extends 'layouts/master.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block title %}
Edit {{ topic.title }}
{% endblock %}
{% block content %}
    {% include 'layouts/tutor_navbar.html' %}
<br>
<div class="st-content-inner padding-none" style="margin-left: 20%">
<div class="col-md-8">
  <table class="table table-striped">

      <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
{#          {% include 'includes/form.html' %}#}
          {{ form|crispy }}
          <tr>
              <td><button>Update</button></td>
          </tr>

      </form>
  </table>
</div>

</div>

{% endblock %}