{% extends 'layouts/master.html' %}
{% load staticfiles %}
{% block title %}
Edit Profiles
{% endblock %}
{% block content %}
    {% include 'layouts/tutor_navbar.html' %}

<div class="st-content-inner padding-none" style="margin-left: 20%">
{% if request.user.is_active %}
<h3 class="text-left">Update Profile</h3>
  <table class="table table-striped">
      <form action="" method="post">
          {% csrf_token %}
          <li class="list-group-item">{{ form.as_table }}</li>
          <tr>
              <td><button>Update</button></td>
          </tr>

      </form>
  </table>
{% else %}
<h4 class="text-info">You cannot access this tutor's edit profile</h4>
{% endif %}

</div>

{% endblock %}