{% extends 'layouts/master.html' %}
{% load staticfiles %}
{% block title %}
Update
{% endblock %}
{% block content %}
       <br><br>
    <div class="container" style="height: 400px;">
<h3 class="text-left">Hello {{ user }}, Please Update Your Information</h3>
  <table class="table table-striped">
      <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <li class="list-group-item">{{ form.as_table }}</li>
          <tr>
              <td><button>Update</button></td>
          </tr>

      </form>
  </table>
        <br>
        <br>
    </div>
{% endblock %}