{% extends 'layouts/master.html' %}
{% load staticfiles %}
{% block title %}
Forum Thread
{% endblock %}
{% block content %}
  {% if request.user.is_staff and request.user.is_authenticated %}
        {% include 'layouts/tutor_navbar.html' %}
    {% else %}
        {% include 'layouts/student_navbar.html' %}
    {% endif %}
      <div class="st-content" style="margin-left: 20%">

<div class="st-content-inner padding-none">
                    <div class="container-fluid">
                        <div class="page-section">
                             {% if forum_thread_list %}
                            <div class="media media-overflow-visible s-container">
                                <div class="media-body">
                                    <h1 class="text-display-1 margin-top-none">{{name_forum}}</h1>
                                    {% if request.user.is_staff and request.user.is_authenticated %}
                                         <p class="text-light text-caption">
                                        posted by
                                        <a href="#">
                                            <img src="{{tutor.photo.url }}" alt="person" class="img-circle width-20" />
                                            {{ tutor.tutor_user.first_name }}
                                                {{ tutor.tutor_user.last_name }}
                                        </a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i>
                                        {{ thread.created }}
                                    </p>
                                         {% else %}
                                    <p class="text-light text-caption">
                                        posted by
                                        <a href="#">
                                            <img src="{{student.picture.url }}" alt="person" class="img-circle width-20" />
                                            {{ student.student_user.first_name }}
                                                {{ student.student_user.last_name }}
                                        </a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i>
                                        {{ thread.created }}
                                    </p>
                                        {% endif %}
                                </div>
                                <div class="media-right">
                                    <a href="#" class="btn btn-white paper-shadow relative" data-z="0.5" data-hover-z="1" data-animated><i class="fa fa-fw fa-reply"></i> Reply</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    {% for list in forum_thread_list %}
                        {% if request.user.is_authenticated %}
                        <div class="media s-container">
                            <div class="media-left">
                                <div class="width-70 text-center">
                                    <a href="#">
                                        {% if request.user.is_staff and request.user.is_authenticated %}
                                        <img src="{{ tutor.photo.url}}" alt="people" class="img-circle width-20" />
                                        {% else %}
                                        <img src="{{ student.picture.url }}" alt="people" class="img-circle width-20"/>
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="text-subhead-2">{{ user.username }}<span class="text-caption text-light">- {{ list.created }}</span></div>
                                        <p>{% lorem %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                     <div class="page-section padding-top-none">
                            <div class="panel panel-default paper-shadow" data-z="0.5">
                                <div class="panel-heading">
                                    <h4 class="text-headline">Post a reply</h4>
                                </div>
                                <div class="panel-body">
                                    <form>
                                        <div class="form-group form-control-material">
                                            <textarea id="reply" class="form-control" placeholder="Your comment .."></textarea>
                                            <label for="reply">Your comment</label>
                                        </div>
                                        <div class="text-right">
                                            <button class="btn btn-primary" type="button">Post reply <i class="fa fa-plus"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                            {% endif %}


                    {% endfor %}
                        <div class="text-right">
                            <ul class="pagination margin-top-none">
                                <li class="disabled"><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- /st-content-inner -->

      </div>
{% endblock %}
